/* CONTAINERS */
.scroll-pane {
    padding: 0 4px;
    flex: 1 0 0;
    overflow-y: scroll;
    position: relative;
}

.vertical-padding {
    margin: 10px 0;
}

.horizontal-padding {
    margin: 10px;
    margin-top: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

/* TEXT LAYOUT */
.sub-text-1 {
    margin-left: 1em;
}

.sub-text-1--disabled {
    margin-left: 1em;
    opacity: 50%;
}

/* TYPOGRAPHY */
.t--clickable {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}
.t--clickable:hover {
    color: grey;
}

/* COMPONENTS & BUTTONS */
.icon-button > svg {
    height: 20px;
    width: 20px;
}